In [4]:
#Python Identifiers:

x====== Normal/Public Variable
_X===== Protected Variable
__X ====Private Variable
__x__===Magic Words

#Reserved Words:Words that are associated to some meanining and funtionality.

Java==53 Reserved Words.
Python==35 Reserved words.

# True,False,None===(3)
# And,Are,Not,Is =====Operators(4)
# If ,Else,Elif =====(3)
# While,for,Break,Continue,Return,In,Yeild ======Loop(7)
# Except,Try,Finally,Raise,assert===(5)
# Import,from,as,class,def,pass,global,nonlocal,lamda,del,With==(11)
# Async,Await====(2)

# True,False,None are the only 3 reserved keyword which has uppercase character.

In [5]:
import keyword

In [6]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
#There are 14 data-types in python.

In [12]:
x=10

In [8]:
type(x)

int

In [9]:
id(x)

140732718621360

In [10]:
print(x)

10

In [16]:
a=9999999999999999999999999 # No Long data-type in python

In [17]:
type(a)

int

In [18]:
a

999999999999999999999999999999999999999

In [21]:
# How many ways we can provide int Value
     # 4 ways
# Binary,Octal,Decimal,Hexadecimal

In [ ]:
x=00123

In [22]:
print(x)

10

In [ ]:
# Hexadecimal Number System: Allowed digits 0-9 -A-F
Either Lower case or Upper Case.

In [24]:
0XFace

64206

In [25]:
0XBeef

48879

In [26]:
a=10
b=0B10
c=0o10
d=0X10
print(a,b,c,d)

10 2 8 16

In [ ]:
Python has Followig Functions
bin()
oct()
hex()

In [27]:
oct(10)

'0o12'

In [28]:
bin(10)

'0b1010'

In [29]:
hex(10000000)

'0x989680'

In [40]:
f=10.0

In [41]:
type(f)

float

In [42]:
f=0B10.0   # Floating  data type-supports only decimal values

SyntaxError: invalid syntax (<ipython-input-42-080f3e88a4d4>, line 1)

In [ ]:
# Difffrent Print Statements:

In [1]:
a,b,c=10,20,30
print('The values are:',a,b,c)

The values are: 10 20 30

In [26]:
name='Satya'
wf='Mona'
print('hello',name,'your wife is',wf)

hello Satya your wife is Mona

a,b,c=20,20,30
print(a,b,c,sep='*')

In [27]:
a=10
print('a value is %i' %(a))

a value is 10

In [33]:
a=10
b=20
c=30
print('a value is %i' %(a))
print('b value is %d and c value is %d' %(b,c))

a value is 10
b value is 20 and c value is 30

In [34]:
name='Satya'
salary=100000
wf='Mona'

In [42]:
print('Hello {x},your salary is {y},and your wife {z} is waiting '.format(x=name,y=salary,z=wf)) # This is keyword separated.

Hello Satya,your salary is 100000,and your wife Mona is waiting

In [41]:
print('Hello {0},your salary is {1},and your wife {2} is waiting '.format(name,salary,wf)) # This is Index Separeated.

Hello Satya,your salary is 100000,and your wife Mona is waiting

In [43]:
print('Hello {},your salary is {},and your wife {} is waiting '.format(name,salary,wf)) #Separated By nothing.

Hello Satya,your salary is 100000,and your wife Mona is waiting

In [47]:
a=1000
b=1000
print(id(a))
print(id(b))
a is b

2300164075056
2300164075120

False

In [48]:
# Collection Related Data Types
List 
Tuple
Frozenset
Dict

In [ ]:
LIST 
1.Insertion Order is Preserved
2.Duplicates are allowed
3.Hetrrogeneous objects are allowed.
4.Values are enclosed with[]
5.Indexing & Slicing Concepts are applicable.
6.List is Mutable
7.Growable in Nature
8.l.append() :will Be added in the end
9.l.remove ():Will remove 1st occurence of the value.

In [50]:
l=[10,10.5,'Satya',True,10,10]
print(l)

[10, 10.5, 'Satya', True, 10, 10]

In [ ]:
l[]

In [51]:
l.append('Prakash')
l.append('Tripathy')
l.append(True)
len(l)

9

In [52]:
print(l)

[10, 10.5, 'Satya', True, 10, 10, 'Prakash', 'Tripathy', True]

In [53]:
print(l[0])

10

In [54]:
print(l[1:3])

[10.5, 'Satya']

In [55]:
l[0]=8888
print(l)

[8888, 10.5, 'Satya', True, 10, 10, 'Prakash', 'Tripathy', True]

In [56]:
l.remove(8888)
print(l)

[10.5, 'Satya', True, 10, 10, 'Prakash', 'Tripathy', True]

In [ ]:
Tuple Data Type:
# Is exactly same as List but its "Immutable".
# Parathensis is optional in tuple.

In [59]:
l=[10,20,30]
l.append(40)
print(l)

[10, 20, 30, 40]

In [60]:
t=(10,20,30,40) # We can't append in Tupple Data Type.
t.append(50)
print(t)

AttributeError: 'tuple' object has no attribute 'append'

In [63]:
print(t[2:5])

(30, 40)

In [64]:
l=[10]
print(type(l))

<class 'list'>

In [67]:
t=(10)
print(type(t))

<class 'int'>

In [ ]:
If we will take 10, Then PVM will consider it as tuple.

In [68]:
t=(10,)
print(type(t))

<class 'tuple'>

In [69]:
x=10,20.30
type(x)

tuple

In [ ]:
Set Data Type.
1.Order is not Preserved.
2.Duplicate Objects aren't allowed.
3.Mutable
4.Growable

In [70]:
s={10,20,'Satya',10,10,20,20}
print(s)

{10, 20, 'Satya'}

In [71]:
s.add('python')
print(s)

{'python', 10, 20, 'Satya'}

In [72]:
s.remove(10)
print(s)

{'python', 20, 'Satya'}

In [73]:
l=[]   #Empty List
print(type(l))
t=()   #Empty Tuple
print(type(t))
s={}   #Empty Set
print(type(s))

<class 'list'>
<class 'tuple'>
<class 'dict'>

In [ ]:
{}---->This is considered as dict

In [ ]:
# Q.Why {} is a disctionay but not a set?

In [74]:
s=set()

In [75]:
print(type(s))

<class 'set'>

In [ ]:
# Frozenset()
This is immutable version of Set.
This is exactly same as set.
This is immutable.
Duplicates are not allowed.
Order is not important.
Addition & Removal Of Objects are not possible.
Performance is more.

In [76]:
s={10,20,30,40}
fs=frozenset(s)
print(type(fs))

<class 'frozenset'>

In [77]:
import sys

In [82]:
l=[10,20,30,40,50,60,70,80,90]
print(sys.getsizeof(l))
t=(10,20,30,40,50,60,70,80,90)
print(sys.getsizeof(t))
s={10,20,30,40,50,60,70,80,90}
print(sys.getsizeof(s))

136
120
736

In [ ]:
#Dict Data Type:
Objects are like Key-Value Pair
Like :Name-roll no
    name--MobileNumber
    ip address--Website
    
Heterogeneous Objects are allowed.
Indexing & Slicing isnot allowed.
Mutable & Growable.
Key Is always Unique;Duplicate Keys are not allowed

In [83]:
d={100:'Durga',200:'Ravi',300:'satya'}
print(d)

{100: 'Durga', 200: 'Ravi', 300: 'satya'}

In [84]:
print(type(d))

<class 'dict'>

In [ ]:
How to Create a dictionary?

In [ ]:
d{}
d[key]=Value

In [86]:
d[100]='Satya'
d[200]='Prakash'
d[300]='Tripathy'

In [87]:
print(d)

{100: 'Satya', 200: 'Prakash', 300: 'Tripathy'}

In [88]:
d={100:'Satya',200:'Prakash',300:'Tripathy',100:'Mona'}

In [89]:
print(d)

{100: 'Mona', 200: 'Prakash', 300: 'Tripathy'}

In [ ]:
#Bytes Data Types.
1.A group of bytes values ,byte data type is used.
2.The Value ranges are in between 0-255 only.
3.Byte is immutable

In [93]:
l=[10,20,30,40,255]
b=bytes(l)
print(type(b))

<class 'bytes'>

In [94]:
l=[10,20,30,40,255]
b=bytes(l)
b[0]=27
print(b[0])   #------>Bytes are mutable so add is not possible

TypeError: 'bytes' object does not support item assignment

In [98]:
l=[10,20,30,40,256]  #====>The range is in between 0-255
b=bytes(l)
print(type(b))

ValueError: bytes must be in range(0, 256)

In [ ]:
Bytearray Data Type:
1.Exactly Same as byte 
2.It is mutable
3.Allowed Values are(0-255)

In [99]:
l=[10,20,30,40,255]
b=bytearray(l)
print(type(b))

<class 'bytearray'>

In [102]:
b[0]=28

In [103]:
print(b[0])

28

In [ ]:
Flow_Control_Statements.

1.The Identation Starts automatically after ':'
2.Paranthesis is optional in python.

In [3]:
for i in range(5):
    print('Hey Satya')

Hey Satya
Hey Satya
Hey Satya
Hey Satya
Hey Satya

In [10]:
name=input('Enter your Name:')
if name == 'Durga':
    print('Hello Durga Good Morming')
print('How are you')

Enter your Name:sunny
How are you

In [12]:
name=input('Enter your Name:')
if name=='Durga':
    print('Hello Durga ,Good Morning')
else:
    print('Hello Guest,Good Morning')
print('How Are you')

Enter your Name:Sunny
Hello Guest,Good Morning
How Are you

In [17]:
brand=input('Enter Your Favorite Brnad:')
if brand =='RC':
    print("it is Children's Brand")
elif brand =='KF':
    print("It is not that much kick")
elif brand =='KO':
    print("It's Too Light")
elif brand =='FO':
    print("Bye 1 Get 1 Free")
else:
    print("Other Brands are not recommneded")

Enter Your Favorite Brnad:KO
It's Too Light

In [ ]:
WAP TO Find the Biggest Of 2 Integer Values.

In [18]:
n1=int(input('Enter the 1st Number:'))
n2=int(input('Enter the 2nd Number'))

if n1 > n2:
    print('Biggest Number is:',n1)
else:
    print('Biggest Numner is:',n2)

Enter the 1st Number:10
Enter the 2nd Number30
Biggest Numner is: 30

In [ ]:
WAP TO Find the Biggest Of 2 Integer Values.

In [ ]:
n1=int(input('Enter the 1st Number:'))
n2=int(input('Enter the 2nd Number'))
n3=int(input('Enter the 3rd Number'))

if n1 > n2 and n1
    print('Biggest Number is:',n1)