In [ ]:
Collection Related Data Types:list(),tuple(),set(),dict{}

In [ ]:
# If we want to represent a group of individual objects as a single entiy where insertion order is preserved and suplicatet order is allowed we must go with list data types()

In [ ]:
LIST DATA TYPES:
1.Insertion order is preserved
2.Duplicate objects are allowed.
3.Heterogeneous objects are allowed.
4.Dynamically Typed(Increses & Decreases)
5.It is Mutable.
6.Indexing & Slicing is applicable.
7.Positive & Negative Index is allowed.

In [4]:

# Type casting of a list.

l=eval(input('Enter any list:'))
print(type(l))
print(l)

Enter any list:10,20,30
<class 'tuple'>
(10, 20, 30)

In [2]:
l=[10,20,30,40]
print(type(l))

<class 'list'>

In [21]:
l=list(range(10))
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
l=list[range(1,11,2)}
print(type(l))
print(l)

<class 'list'>
[1, 3, 5, 7, 9]

In [ ]:
The split() in a string is always a list data-type

In [23]:
s='learning python is very easy'
l=s.split()
print(l)
print(type(l))

['learning', 'python', 'is', 'very', 'easy']
<class 'list'>

In [ ]:
Accessing The elements in a list:Indexing

In [2]:
l=[10,20,30,40,50]
print(l[0])
print(l[-2])
print(l[100])  #Index is allowed from begin to end-1 only

10
40

IndexError: list index out of range

In [ ]:
By Slice Operator:

In [ ]:
1.l[begin:end:step]

in forward direction from begin to end-1
in reverse direction from begin to end+1

2.Slice operator never retuns any <index Error>

3.list,tuple,string ===>Indexing & Slicing is applicable
  set.dict          ===>Indexing & slicing isn't applicable.

In [3]:
l=list('abcdefghijklmnopqrstuvwxyz')
print(l[4::2])

['e', 'g', 'i', 'k', 'm', 'o', 'q', 's', 'u', 'w', 'y']

In [ ]:
LIST Vs MUTABILITY

In [4]:
l=[10,20,30,40]
print(l)
l[0]=7777
print(l)

[10, 20, 30, 40]
[7777, 20, 30, 40]

In [ ]:
Traversing of elements in a string:

In [ ]:
#Q Display all the elements in a given string with the help of Foor Loop:

In [6]:
l=[10,20,30,40,50,60,70,80,90,100]
i=0
while i < len(l):
    print(l[i])
    i=i+1

10
20
30
40
50
60
70
80
90
100

In [ ]:
By The help of For Loop:

In [7]:
l=[10,20,30,40,50,60,70,80,90,100]
for x in l:    #For each element in list (l)
    print(x)   # Print the values of x

10
20
30
40
50
60
70
80
90
100

In [ ]:
#Q WAP to dispaly the even numbers in a given string.

In [11]:
l=[0,1,2,3,4,5,6,7,8,9,10]
for x in l:
    if x%2 == 0:
        print(x)

0
2
4
6
8
10

In [ ]:
#Q WAP to dispaly the odd numbers in a given string.

In [14]:
l=[0,1,2,3,4,5,6,7,8,9,10]
for x in l:
    if x%2 != 0:
        print(x)

1
3
5
7
9

In [ ]:
# Print the objects in a string in accordance with their indexs.

In [16]:
l=[10,20,30,40]
i=0                 #-ve index=+veindex-lenghth() in this case:+ve index=3 & length =4 so 3-4==-1
while i < len(l):
    print('The elemants present at +ve index:{} and _ve Index:{} is {}'.format(i,i-len(l),l[i])) 
    i=i+1

The elemants present at +ve index:0 and _ve Index:-4 is 10
The elemants present at +ve index:1 and _ve Index:-3 is 20
The elemants present at +ve index:2 and _ve Index:-2 is 30
The elemants present at +ve index:3 and _ve Index:-1 is 40

In [ ]:
Important Functions and methods of List:

In [ ]:
#Q What is the diffrence in between function & a string?

#A:Funtions are procedure oriented while methods are object oriented.
#Funtiones are defined outside of a class while method is defined inside of a class.

In [4]:
def f1():
    print('f1 function')
class Test:
    def m1(self):
        print('m1 method')
f1()
t=Test()
t.m1()

f1 function
m1 method

In [7]:
s='india'
print(len(s))   #Len() is an inbuild funtion
print(type(s))  # india is an onject created under string class
print(s.upper()) # This is a method

5
<class 'str'>
INDIA

In [ ]:
1>len()---Method ---This returns the no of elements in a list.

In [ ]:
2>count()--Method---This returns no of occurences of a specified element.

In [8]:
l=[10,20,10,20,10,30,40]
print(l.count(10))   # Reruns no of occurences of 10
print(l.count(400))  # Reruns no of occurences of 400 which is not present.

3
0

In [ ]:
3>index()--Returns index of 1st occurence only.
         --Returns Value error if the object isn't present in that list

In [10]:
l=[10,20,10,20,10,30,40]
print(l.index(10))    # 10 is present @ 0 index of the above list.
print(l.index(400))   #400 is not in the list

0

ValueError: 400 is not in list

In [14]:
l=[1,2,3,1,1,1,4]
x=int(input('Enter any element to find index'))
i=l.index(x)
print('{} element first occurence index is:{}'.format(x,i))

Enter any element to find index2
2 element first occurence index is:1

In [ ]:
How To avoid the value Error:

In [18]:
l=[1,2,3,1,1,1,4]
x=int(input('Enter any element to find index:'))
if x in l:
    i=l.index(x)
    print('{} element first occurence index is:{}'.format(x,i))
else:
    print('specified element not available')

Enter any element to find index:2345
specified element not available

In [ ]:
Manipulating elements in the list:

a.append()
b.insert()
c.extend()

In [ ]:
#WAP to list of number that are divisible by 10.

In [22]:
l=[]
for i in range(101):  # Means 0 to 100
    if i%10 == 0:
        l.append(i)
print(l)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
2.Insert(): This method is used to insert object in the specified index.

In [23]:
l=[10,20,30,40,50]
l.insert(1,70)    # 70 is inserted at 1st index of the given list.
print(l)

[10, 70, 20, 30, 40, 50]

In [25]:
l=[10,20,30,40,50]
l.insert(-10,70)    #if index is smaller then,will be inserted at the begining.
l.insert(10,70)     #if index is smaller then,will be inserted at the end.
print(l)

[70, 10, 20, 30, 40, 50, 70]

In [ ]:
# Q.What is difference in between append() and Insert()

#Ans:append():Element will be added in the last position.
     insert(index,element)--Element will be added in the specified position.

In [ ]:
3.extend(): This method is used to add any other list of elements in the list.

In [26]:
order1=['chicken','mutton','fish']
order2=['KF','RC','FO']
for x in order2:
    order1.append(x)   # This is called as nexted list
print(order1)

['chicken', 'mutton', 'fish', 'KF', 'RC', 'FO']

In [27]:
order1=['chicken','mutton','fish']
order2=['KF','RC','FO']
order1.extend(order2)
print(order1)

['chicken', 'mutton', 'fish', 'KF', 'RC', 'FO']

In [ ]:
4.remove():This method is used to remove an item from the list.

In [1]:
l=[10,20,30,40]
l.remove(10)
print(l)

[20, 30, 40]

In [2]:
l=[10,20,30,40]
l.remove(50)
print(l)

ValueError: list.remove(x): x not in list

In [ ]:
Q:How to Overcone this error?
A:Membership operator is used.

In [8]:
l=[10,10,10,10,20,30,40]
x=int(input('Enter the element to remove'))
if x in l:
    l.remove(x)
else:
    print('specified element is not available')
print(l)

Enter the element to remove10
[10, 10, 10, 20, 30, 40]

In [ ]:
Q:How to remove the duplicate values in a list?

In [11]:
l=[10,10,10,10,20,30,40]
x=int(input('Enter the element to remove'))
while True:
    if x in l:
        l.remove(x)
    else:
        break
print(l)

Enter the element to remove10
[20, 30, 40]

In [2]:
l=[10,10,10,10,20,30,40]
x=int(input('Enter the element to remove'))
while x in l:
    l.remove(x)
print(l)

Enter the element to remove10
[20, 30, 40]

In [ ]:
Q:How do we do index based removal?
    
Ans:pop():This method is used if we wish to remove index wise.
By default pop() will delete the last element in the list.

In [3]:
l=[10,10,10,10,20,30,40]
print(l.pop())     #40 is removed here
print(l.pop())     #30 is removed here
print(l)

40
30
[10, 10, 10, 10, 20]

In [7]:
l=[10,10,10,10,20,30,40]
print(l.pop())     # 40 is removed from left
print(l.pop())     # 30 os removed from left
print(l.pop())     # 20 is removed from left
print(l.pop())     # 10 is removed from left
print(l.pop())     # 10 is removed frpm left
print(l)

40
30
20
10
10
[10, 10]

In [8]:
l=[10,10,10,10,20,30,40]
print(l.pop())     # 40 is removed from left
print(l.pop())     # 30 os removed from left
print(l.pop())     # 20 is removed from left
print(l.pop())     # 10 is removed from left
print(l.pop())     # 10 is removed frpm left
print(l.pop())     # 10 is removed frpm left
print(l.pop())     # 10 is removed frpm left            
print(l)           # After removing all the elememts from the list an empty list [] is returned.

40
30
20
10
10
10
10
[]

In [13]:
l=[10,20,30,40]
print(l.pop())    
print(l.pop())     
print(l.pop())     
print(l.pop())
print(l.pop())
print(l)       # Index Error

40
30
20
10

IndexError: pop from empty list

In [ ]:
Q:How to overcome the above index error?

In [20]:
l=[10,20,30,40]
print(l.pop())    
print(l.pop())     
print(l.pop())     
print(l.pop())
if len(l) != 0:
    print(l.pop()) 
print(l)

40
30
20
10
[]

In [ ]:
l=[10,20,30,40]
print(l.pop())    
print(l.pop())     
print(l.pop())     
print(l.pop())
if len(l) != 0:
    print(l.pop()) 
print(l)

In [ ]:
pop(index)--->The perticular index is deleted

In [23]:
l=[10,20,30,40]
print(l.pop(3))
print(l)

40
[10, 20, 30]

In [24]:
l=[10,20,30,40]
i=0
while i < len(l):
    l.pop(i)
    i=i+1
print(l)

[20, 40]

In [79]:
l=[10,20,30,40]
i=0
while i < len(l):
    print(l.pop(i))
    i=i+1
print(l)

10
30
[20, 40]

In [35]:
l=[10,20,30,40]
i=0
n=len(l)
while i < n and len(l) != 0:
    print('curent index value:',i)
    print('current n value:',n)
    print('The removed element:',l.pop(i))
    print()
print(l)

curent index value: 0
current n value: 4
The removed element: 10

curent index value: 0
current n value: 4
The removed element: 20

curent index value: 0
current n value: 4
The removed element: 30

curent index value: 0
current n value: 4
The removed element: 40

[]

In [ ]:
Q:How to remove the elements in backward direction;

In [31]:
l=[10,20,30,40]
while len(l) != 0:
    print('The removed element is :',l.pop())
print(l)

The removed element is : 40
The removed element is : 30
The removed element is : 20
The removed element is : 10
[]

In [ ]:
Q:What is the diffrence in between pop() & remove()

A:remove()--Is element based removal,when pop() is index based removal,last element will removed first if index isn't specified.
We get value error in remove() when we get index() error on pop().

In [ ]:
For Addition of elements we use:1.append() 2.insert() and Extend()
    Removal of elements we use: 1.remove() 2.pop()  & clear()--->To delete all the elements

In [ ]:
Order Of Elements in the List:
1.Reverse()
2.sort()

In [36]:
l=[10,20,30,40]
print(l)
l.reverse()
print(l)

[10, 20, 30, 40]
[40, 30, 20, 10]

In [37]:
l=[10,5,20,15,0]
l.sort()
print(l)         # The numbers are sorted in the ascending order

[0, 5, 10, 15, 20]

In [39]:
l=['Sunny','Bunny','Vinny','Pinny','Chinny']
l.sort()
print(l)

['Bunny', 'Chinny', 'Pinny', 'Sunny', 'Vinny']

In [40]:
l=['Sunny','Bunny','Vinny','Pinny','Chinny']
l.sort()
l.reverse()
print(l)

['Vinny', 'Sunny', 'Pinny', 'Chinny', 'Bunny']

In [41]:
l=['Sunny','Bunny','Vinny','Pinny','Chinny']
l.sort(reverse=True)
print(l)

['Vinny', 'Sunny', 'Pinny', 'Chinny', 'Bunny']

In [42]:
l=[10,5,20,15,0]
l.sort(reverse=True)
print(l)

[20, 15, 10, 5, 0]

In [ ]:
Q:What is the diffrence in between reverse() and reversed ()?
reverse()--->This is a list specific method and it won't return anything. Applicable for list only.
reversed()--->This is python's inbuild function and retuns reversed object ,Applicable for any sequences.

In [ ]:
Aliasioning--->Creating a duplicate reference.
Clonning-->Creating a duplicate list object

In [ ]:
Aliasioning--->Creating a duplicate reference.
Clonning-->Creating a duplicate list object

In [44]:
l1=[10,20,30,40]
l2=l1
print(id(l1))   # The id of l1 & l2 are same becasue they both are referring to a same object.
print(id(l2))

1995304172488
1995304172488

In [47]:
l1=[10,20,30,40]
l2=l1
l1[0]=7777
print(l1)
print(l2)
l2[1]=8888
print(l1)
print(l2)

[7777, 20, 30, 40]
[7777, 20, 30, 40]
[7777, 8888, 30, 40]
[7777, 8888, 30, 40]

In [48]:
l=[10,20,30,40]
l2=l1[:]
print(id(l1))
print(id(l2))

1995304135304
1995304135880

In [50]:
l=[10,20,30,40]
l2=l1[:]
l1[1]=9999
print(l1)
print(l2)

[7777, 9999, 30, 40]
[7777, 8888, 30, 40]

In [ ]:
clonning:

In [51]:
l=[10,20,30,40]
l2=l1.copy()
l1[1]=7777
print(l1)
print(l2)

[7777, 7777, 30, 40]
[7777, 9999, 30, 40]

In [54]:
l1=[10,20,30,40]
l2=l1.copy()
l2[1]=7777
l2[2]=8888
print(l1)
print(l2)

[10, 20, 30, 40]
[10, 7777, 8888, 40]

In [ ]:
Mathematical Opeartors:

In [55]:
a=[10,20,30]
b=[40,50,60]
c=a+b
print(c)

[10, 20, 30, 40, 50, 60]

In [56]:
a=[10,20,30]
b=[40,50,60]
c=a+[50]
print(c)

[10, 20, 30, 50]

In [57]:
a=[10,20,30]
a.extend('abc')
print(a)

[10, 20, 30, 'a', 'b', 'c']

In [ ]:
Q:What is the difference in between + and extend()?
list+list == only list
l1.extend()==Needn't be a list
Ans:+--->A new object is created and returns that object.
    Extend()---->New object isn't created and elements are added to the existing objects.

In [58]:
a=[10,20,30]
a.extend({'a','b','c','d'})
print(a)

[10, 20, 30, 'b', 'd', 'a', 'c']

In [59]:
a=[10,20,30]
a.extend({'a','b','c','d'})
b=a+{'a','b','c'}
print(a)

TypeError: can only concatenate list (not "set") to list

In [ ]:
1>* Operator:

In [61]:
x=[10,20,30]
y=x*5
print(y)

[10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]

In [ ]:
2>== Eqaulity Operator--

In [62]:
x=['Dog','Cat','Rat']
y=['Dog','Cat','Rat']
z=['DOG','CAT','RAT']
print(x == y)
print(x == z)
print(x == z)

True
False
False

In [63]:
x=['Dog','Cat','Rat']
y=['Dog','Cat','Rat']
z=['DOG','CAT','RAT']
print(x == y)
print(x == z)
print(x != z)

True
False
True

In [ ]:
3>Comparision Operator:<,<=,>,>=

In [64]:
x=[100,10,5]
y=[10,20,30,40,50,60]
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)

True
True
False
False

In [65]:
x=[10,10,5]
y=[10,20,30,40,50,60]
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)

False
False
True
True

In [66]:
x=['Dog','Cat','Rat']
y=['Rat','Cat','Dog']
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)

False
False
True
True

In [ ]:
4>Membership Operators

In [67]:
x=['Dog','Cat','Rat']
print('Dog' in x)
print('Zebra' in x)
print('Zebra' not in x)

True
False
True

In [ ]:
Nexted List Concept:

In [68]:
l=[10,20,[30,40]]
print(l)
print(l[0])
print(l[1])
print(l[2])               #[30,40] is considered as a single element.

[10, 20, [30, 40]]
10
20
[30, 40]

In [70]:
l=[10,20,[30,40]]
print(l)
print(l[0])
print(l[1])
print(l[2][0])
print(l[2][1])

[10, 20, [30, 40]]
10
20
30
40

In [80]:
l=[[100,200,300],[400,500,600],[700,800,900]]
print(l)
print('Elements row wise')
for x in l:
    print(x)
print('Elements in Matrix Style:')
for row in l:
    for elements in row:
        print(elements,end=' ')
    print()
print('Elements in Matrix style:')
for i in range(len(l)):            #0,1,2
    for j in range(len(l[i])):     #0,1,2
        print(l[i][j],end=' ')
    print()

[[100, 200, 300], [400, 500, 600], [700, 800, 900]]
Elements row wise
[100, 200, 300]
[400, 500, 600]
[700, 800, 900]
Elements in Matrix Style:
100 200 300
400 500 600
700 800 900
Elements in Matrix style:
100 200 300
400 500 600
700 800 900

In [ ]:
List Comprehension:

l=[ expression for item in sequence]

In [81]:
l=[ x for x in range(10)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
l=[ x*x for x in range(10)]
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [83]:
l=[ 2*x for x in range(10)]
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [85]:
l=[ x*x*x for x in range(1,101)]
print(l)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [ ]:
Q:WAP to find first 100 numbers which is even

In [92]:
l=[ x*x*x for x in range(1,101) if x*x*x % 2==0]
print(l)

[8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000, 10648, 13824, 17576, 21952, 27000, 32768, 39304, 46656, 54872, 64000, 74088, 85184, 97336, 110592, 125000, 140608, 157464, 175616, 195112, 216000, 238328, 262144, 287496, 314432, 343000, 373248, 405224, 438976, 474552, 512000, 551368, 592704, 636056, 681472, 729000, 778688, 830584, 884736, 941192, 1000000]

In [3]:
l1=[ x*x*x for x in range(1,101) if x % 2==0]
print(l1)

[8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000, 10648, 13824, 17576, 21952, 27000, 32768, 39304, 46656, 54872, 64000, 74088, 85184, 97336, 110592, 125000, 140608, 157464, 175616, 195112, 216000, 238328, 262144, 287496, 314432, 343000, 373248, 405224, 438976, 474552, 512000, 551368, 592704, 636056, 681472, 729000, 778688, 830584, 884736, 941192, 1000000]

In [4]:
l2=[ x*x*x for x in range(1,101) if x % 2==0]
print(l2)

[8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832, 8000, 10648, 13824, 17576, 21952, 27000, 32768, 39304, 46656, 54872, 64000, 74088, 85184, 97336, 110592, 125000, 140608, 157464, 175616, 195112, 216000, 238328, 262144, 287496, 314432, 343000, 373248, 405224, 438976, 474552, 512000, 551368, 592704, 636056, 681472, 729000, 778688, 830584, 884736, 941192, 1000000]

In [ ]:
Q1:Create a list with Squares of first 10 natural numbers from 1 to 10

In [ ]:
Traditional Method:

In [6]:
l=[]
for x in range(1,11):
    l.append(x*x)
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
Comprehension Method:

In [8]:
l1=[x*x for x in range (1,11)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
Q2:Create a list with first 20 even natural numbers

In [ ]:
Traditional Method:

In [15]:
l=[]
for x in range(1,21):
    if x%2 == 0:
        l.append(x)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
Comprehension Method:

In [12]:
l1=[ x for x in range (1,21) if x%2 == 0]
print(l1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
Q3:Create a list with squares of first 20 even natural numbers

In [18]:
l=[]
for x in range(1,21):
    if x%2 ==0:
        l.append(x*x)
print(l)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [ ]:
By Compregension Method:

In [16]:
l1=[ x**2 for x in range (1,21) if x%2 == 0]
print(l1)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [ ]:
Q4:WAP to print the first digits of each  string :

In [20]:
words=['Rohit','Rahul','Virat','Shreyas']
l=[word[0] for word in words]
print(l)                                   #RRVS

['R', 'R', 'V', 'S']

In [ ]:
Q5:WAP to find the numbers which are present in List1 but not in List2

In [ ]:
Traditional Method:

In [28]:
num1=[10,20,30,40]
num2=[30,40,50,60]
#Create a list with numbers which are present in num1 but not in num2
num3=[]
for n in num1:
    if n not in num2:
        num3.append(n)
print(num3)

[10, 20]

In [ ]:
Comprehension Method:

In [29]:
num4=[n for n in num1 if n not in num2]
print(num4)

[10, 20]

In [ ]:
Q6:WAP to find the numbers which are commmon in List1 but not in List2.

In [ ]:
Traditional Method:

In [31]:
num1=[10,20,30,40]
num2=[30,40,50,60]
#Create a list with common numbers present in both the lists.
num5=[]
for n in num1:
    if n in num2:
        num5.append(n)
print(num5)

[30, 40]

In [ ]:
Comprehension Method:

In [32]:
x=[n for n in num1 if n in num2]
print(x)

[30, 40]

In [ ]:
Q7:WAP to find the number of letters in the given string.

In [ ]:
Traditional Method:

In [39]:
s='THE QUICK BROWN FOX JUMPS OVER A LAZY DOG'
words=s.split()
l=[]
for word in words:
    l.append([word,len(word)])
print(l)

[['THE', 3], ['QUICK', 5], ['BROWN', 5], ['FOX', 3], ['JUMPS', 5], ['OVER', 4], ['A', 1], ['LAZY', 4], ['DOG', 3]]

In [ ]:
Comprehension Method:

In [40]:
l1=[ [word,len(word)] for word in words]
print(l1)

[['THE', 3], ['QUICK', 5], ['BROWN', 5], ['FOX', 3], ['JUMPS', 5], ['OVER', 4], ['A', 1], ['LAZY', 4], ['DOG', 3]]

In [ ]:
Q7:WAP to interchage the case of letters in the list.

In [42]:
s='THE QUICK BROWN FOX JUMPS OVER A LAZY DOG'
l1=[ [word.lower(),len(word)] for word in words]
print(l1)

[['the', 3], ['quick', 5], ['brown', 5], ['fox', 3], ['jumps', 5], ['over', 4], ['a', 1], ['lazy', 4], ['dog', 3]]

In [43]:
s='THE QUICK BROWN FOX JUMPS OVER A LAZY DOG'
l1=[ [word.lower()] for word in words]
print(l1)

[['the'], ['quick'], ['brown'], ['fox'], ['jumps'], ['over'], ['a'], ['lazy'], ['dog']]

In [ ]:
Q8:WAP to change the Title to upper case of letters in the list.

In [44]:
s='THE QUICK BROWN FOX JUMPS OVER A LAZY DOG'
l1=[ [word.title(),len(word)] for word in words]
print(l1)

[['The', 3], ['Quick', 5], ['Brown', 5], ['Fox', 3], ['Jumps', 5], ['Over', 4], ['A', 1], ['Lazy', 4], ['Dog', 3]]

In [ ]:
Q9:WAP to find the vowel in any string.

In [ ]:
Traditional Method:

In [46]:
word=input('Enter any word to search for vowels :')
vowels=['a','e','i','o','u']
found=[]

for v in vowels:
    if v in word:
        found.append(v)
print(found)

Enter any word to search for vowels :Happy Independence Day
['a', 'e']

In [ ]:
Comprehension Method:

In [47]:
l=[v for v in vowels if v in word]
print(l)

['a', 'e']

In [ ]:
--------------------------THE CONCEPT OF TUPLE DATA TYPE:------------------------------------------------

In [ ]:
1.The tuple is exactly same as list
2.Tuple is immutable.
3.Duplicates are allowed.
4.Indexing & Slicing are allowed.
5.Heterogenous objects are allowed
6()--Parathensis is optional

In [48]:
t=10,20,30,40
print(type(t))

<class 'tuple'>

In [49]:
t=(10,20,'India',40)    # Heterogeneous objects are allowed.
print(t[0])             #Indexing is allowed.
print(t[-1])
print(t)
print(t[1:4])           # Slicing is allowed.

10
40
(10, 20, 'India', 40)
(20, 'India', 40)

In [51]:
t=()                    #Empty Tuple
print(type(t))
t=(10)                  #Interger Type
print(type(t))
t=10                    #Integer Type
print(type(t))
t=(10,)
print(type(t))
t=(10,20,30)            #Multi Valued Tuple 
print(type(t))
t=10,20,30
print(type(t))
t=(10,20,30,)
print(type(t))
t=10,20,30,
print(type(t))

<class 'tuple'>
<class 'int'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
Use Cases Of Tuple Data Type:
    Banking,Vending Machined,ATM
    
Advantages:Accesing the elements is very easy and Fast.
           Memory management is also good.

In [54]:
import sys
l=[10,20,30,40,50,60,70,80,90]
t=[10,200,300,40,50,60,70,80,90]
print(sys.getsizeof(l))
print(sys.getsizeof(t))

136
136

In [ ]:
Conversion of list type to tuple type.
tuple() --- Is used.

In [56]:
l=[10,20,30]
t=tuple(l)
print(t)
print(type(t))

(10, 20, 30)
<class 'tuple'>

In [57]:
l=[10,20,30]
t=tuple(l)
r=range(10)
t=tuple(r)
print(t)
print(type(t))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [ ]:
Indexing & Slicing in Tuple:

In [58]:
t=(10,20,30,40,50,60,70,80,90,100)
print(t[0])
print(t[-2])
print(t[2:6])

10
90
(30, 40, 50, 60)

In [ ]:
Mathematical Operations in Tuple:

In [60]:
t1=10,20,30,40
t2=50,60,70,80
t3=t1+t2
t4=t1*3
print(t3)
print(t4)

(10, 20, 30, 40, 50, 60, 70, 80)
(10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40)

In [ ]:
Important Functions & Methods in Tuple:
    
1.count()
2.index()
3.sort()      # tuple' object has no attribute 'sort
4.sorted()    #sorted() is a python specific function.
5.reverse()
6.min()
7.max()

In [61]:
t1=10,20,30,10,10,10
print(t1.count(10))

4

In [62]:
t1=10,20,30,10,10,10
print(t1.index(10))

0

In [64]:
t=(0,20,5,15,10)
t.sort()
print(t)          # sort() is allowed only for list

AttributeError: 'tuple' object has no attribute 'sort'

In [68]:
t=(0,20,5,15,10)
l1=tuple(sorted(t))     #sorted() is a python specific function.
print(l1)

(0, 5, 10, 15, 20)

In [70]:
t=(0,20,5,15,10)
l1=tuple(sorted(t,reverse=True))     
print(l1)

(20, 15, 10, 5, 0)

In [71]:
t=(0,20,5,15,10)
l1=tuple(sorted(t,reverse=False))     
print(l1)

(0, 5, 10, 15, 20)

In [ ]:
Q:What is the diffrence in between sort() & sorted()

Ans:Sort()--This is a list specific method.
it wont create a new list rather sort() happens in the existing list only.

sorted()--This is a general purpose python's inbuild function which is applicable to any sequence.
Here always  new list object is created .

In [72]:
l=[0,20,5,15,10]
print('Before sorting:',l)
print('Before sorting address:',id(l))
l.sort()
print('After sorting:',l)
print('After sorting address:',id(l))   #A new object is not created,therefore Ids are indifferent.

Before sorting: [0, 20, 5, 15, 10]
Before sorting address: 1631220670920
After sorting: [0, 5, 10, 15, 20]
After sorting address: 1631220670920

In [76]:
l1=[0,20,5,15,10]
print('Before sorting:',l1)
print('Before sorting address:',id(l))
l1=sorted(l)
print('After sorting:',l1)
print('After sorting address:',id(l1))   #A new object is created as Id are diffrent

Before sorting: [0, 20, 5, 15, 10]
Before sorting address: 1631220563720
After sorting: [0, 5, 10, 15, 20]
After sorting address: 1631220599560

In [ ]:
append()----------#This is not alloawed in tuple becasue tuple is Immutable
extend()----------#This is not alloawed in tuple becasue tuple is Immutable
insert()----------#This is not alloawed in tuple becasue tuple is Immutable
remove()----------#This is not alloawed in tuple becasue tuple is Immutable
pop()----------   #This is not alloawed in tuple becasue tuple is Immutable
sort()----------  #This is not alloawed in tuple becasue tuple is Immutable
reverse()---------#This is not alloawed in tuple becasue tuple is Immutable
clear()---------- #This is not alloawed in tuple becasue tuple is Immutable

In [ ]:
Equality Operator in Tuple:

In [78]:
t1=(10,20,30,40)
t2=(10,20,30,40)
t3=(20,30,40,10)
print(t1 == t2)
print(t1 == t3)
print(t1 != t3)

True
False
True

In [79]:
t1=(10,20,30,40)
t2=(10,20,30,40)
t3=(20,30,40,10)
print(t1 < t2)
print(t1 < t3)

False
True

In [ ]:
Packing & Unpacking Concepts in TUPLE:

In [ ]:
t=a,b,c,d===>Packing of 4 Values inside a single tuple.
a,b,c,d=t===>Unpacking of values from t and assigning them to a,b,c,d.

In [80]:
a=10
b=20
c=30
d=40
t=a,b,c,d
print(t)         #This concept is called as packing in Tuple

(10, 20, 30, 40)

In [81]:
t=(10,20,30,40)
a,b,c,d=t
print(a,b,c,d) #This is called unpacking in Tuple.

10 20 30 40

In [82]:
t=(10,20,30,40,50,60,70,80,90,100)
a,b,c,*d=t
print(a)
print(b)
print(c)
print(d)

10
20
30
[40, 50, 60, 70, 80, 90, 100]

In [ ]:
*x & **X
*args====>Variable Number of Arguments
**kwargs===>Variable number of Keyword Arguments.

In [ ]:
Comprehension Concept in list & Tuple.

In [84]:
l=[ x*x for x in range(1,6)]
print(type(l))
print(l)

<class 'list'>
[1, 4, 9, 16, 25]

In [86]:
t=( x*x for x in range(1,6))
print(type(t))               #<generator object <genexpr> is created therefore comprehension cobept isn't applicable in list.
print(t)

<class 'generator'>
<generator object <genexpr> at 0x0000017BCC524548>

In [ ]:
Q:WAP to input the values from the keyboard and print its sum & avearage.

In [100]:
t=eval(input('Enter Tuple of Numbers:'))
sum=0
l=len(t)
for n in t:
    sum=sum+n
    avg=sum/l
print('The sum:',sum)
print('The Average:',avg)

Enter Tuple of Numbers:10,20
The sum: 30
The Average: 15.0

In [ ]:
Another Method:

In [3]:
t=eval(input('Enter Tuple of Numbers:'))
print('The sum:',sum(t))
print('The Average:',sum(t)/len(t))     #sum & Len() are in build functions of

Enter Tuple of Numbers:10,20
The sum: 30
The Average: 15.0

In [ ]:
Non Hasable and Hashable concept:

In [1]:
d={(10,20,30):'India'}  #Hashable we can use tuple as Key & Value in a dictionary.
print(d)

{(10, 20, 30): 'India'}

In [6]:
d={('India','Pakistan','Srilanka'):10}  #Hashable we can use tuple as Key & Value in a dictionary.
print(d)

{('India', 'Pakistan', 'Srilanka'): 10}

In [2]:
d={[10,20,30]:'India'} # unhashable type:'list'  we cann't use tuple as Key & Value in a dictionary.
print(d)

TypeError: unhashable type: 'list'

In [ ]:
Q:What Are the Major difference in between List & Tuple?
    
Ans:
1.List is Mutable and Tuple is immutable.

2.List group of comma separeted values [] and tuple is group of comma separated values ()

3.[] is mandatory for List whereas () is not mandatory for tuple.

4.Memory util and performance is not optimal for list[ ];tuple()  is memory util & performace optimal.

5.comprehension concept is applicable for list[] and not applicable in tuple().

6.packing is allowed in list[] and packing & unpacking both are allowed in tuple()

7.list[] is non-hashable type:means we cant use list as key in the dictionary.tuple() is hashable:Means we can use the tuple as key in dictionary

In [ ]:
SET Data Types:
    
1.Order is not important.
2.Duplcate Objects aren't allowed.
3.Indexing & Slicing Concepts aren't applicable.
4.Heterogenous Objects are allowed.
5.Mutable
6.Growable In Nature.
7.Defined by {}
8.Specific Mathematical Operations like 'Union','Intersection','Difference' is applicable.


Use_Cases: SMS Messaging,

In [ ]:
How to Create an empty Set Object?
s={}    #This is a dictionary
set()   #This is python's Inbuild function to create a set object
s=set() #This is used to create a set object

In [1]:
l=[20,10,30,10,50,10,10,40] #List
s=set(l)
print(s)                    #Order isn't Important and Duplicates are removed.

{40, 10, 50, 20, 30}

In [2]:
l=(20,10,30,10,50,10,10,40)  #Tuple
s=set(l)
print(s)                     #Order isn't Important and Duplicates are removed.

{40, 10, 50, 20, 30}

In [3]:
d={10:'Durga',200:'Ravi'}
s=set(d)                 
print(s)

{200, 10}

In [6]:
s=eval(input('Enter Any Set Of Elements:'))
print(s)
s=set()
print(s)
print(type(s))

Enter Any Set Of Elements:10,20,10,10,10,20,20,30,10
(10, 20, 10, 10, 10, 20, 20, 30, 10)
set()
<class 'set'>

In [ ]:
Important Methods and Functions in Set:

In [7]:
# To add elements in a set:

s=set()
s.add(10)
s.add(70)
s.add(20)
s.add('Durga')
s.add(40)
print(s)

{'Durga', 70, 40, 10, 20}

In [ ]:
#Q TO add a sequence in a set:  s.update()-----Only a sequece must be added,

In [9]:
s=set()
s.update(range(1,6),range(6,11),'Durga')
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'D', 'u', 'r', 'g', 'a'}

In [11]:
s.add(10)
s.add(10,20,30)----->Invailid
s.update(10)----->Invalid,Becasue its not a sequence.
s.upodate(range(1,11),range(11,20))
print(s)

TypeError: add() takes exactly one argument (3 given)

In [12]:
s=set()
s.add([10,20,30])      # List type is Unhashabel
print(s)

TypeError: unhashable type: 'list'

In [14]:
s=set()
s.add((10,20,30))      # Tuple type is hashable
print(s)

{(10, 20, 30)}

In [ ]:
#Q What is the difference in between add() & Update()?

add()--->To add a single Item Only
update()-->To add a sequence of items.

In [16]:
s=set()
# s.add([10,20,30]) # We are adding list objects into the set;Not Possible
# s.update([10,20,30]) #we are adding elememts present in a list to the set
s.update([10,20],[30,40])
print(s)
print(type(s))

{40, 10, 20, 30}
<class 'set'>

In [ ]:
# Q How to remove elements from the list?

In [ ]:
1.s.pop()-->This repmoves and returns random elements from the list
2.s.remove()-->This removes specified elements
3.s.discard(x)-->This is same as remove but here we wont get key error.
4.s.clear()---This removes all the elements from the list

In [18]:
s={10,50,40,20,25,0,5}
print(s.pop())
print(s.pop())
print(s.pop())
print(s.pop())
print(s.pop())
print(s.pop())
print(s.pop())
print(s.pop()) # After deleting random elements from the set it returns "KeyError: 'pop from an empty set'"

0
5
40
10
50
20
25

KeyError: 'pop from an empty set'

In [ ]:
#Q:How to avoid the key error?

In [20]:
s={10,50,40,20,25,0,5}
print(s.pop())
print(s.pop())
print(s.pop())
print(s.pop())
print(s.pop())
print(s.pop())
print(s.pop())
if len(s) != 0:
    print(s.pop())

0
5
40
10
50
20
25

In [ ]:
Q:WAP to send SMS to Unique numbers:

In [21]:
s={10,20,30,90,10,30,50,70,90,80,10,40,30}
while len(s) != 0:
    n=s.pop()
    print('Sending SMS to mobile number:',n)

Sending SMS to mobile number: 70
Sending SMS to mobile number: 40
Sending SMS to mobile number: 10
Sending SMS to mobile number: 80
Sending SMS to mobile number: 50
Sending SMS to mobile number: 20
Sending SMS to mobile number: 90
Sending SMS to mobile number: 30

In [ ]:
2.s.remove()-->This removes specified elements

In [23]:
s={10,20,30,40}
s.remove(20)
print(s)

{40, 10, 30}

In [24]:
s={10,20,30,40}
s.remove(50)     # Will Get a Key Error while removing the element which isn't present in the list.
print(s)

KeyError: 50

In [25]:
#To Avoid Key Error:

s={10,20,30,40}
if 50 in s:         #Membership operator is Used.
    s.remove(50)
print(s)

{40, 10, 20, 30}

In [ ]:
3.s.discard(x)-->This is same as remove but here we wont get key error.

In [26]:
s={10,20,30,40}
s.discard(10)
s.discard(50)
s.discard(70)
s.discard(90)
print(s)       # This wont give any Key Error ;It only removes the values present in the set.

{40, 20, 30}

In [ ]:
4.s.clear()---This removes all the elements from the list

In [27]:
s={10,20,30,40}
s.clear()
print(s)

set()

In [ ]:
Aliasioning & CLoning:

In [28]:
s={10,20,30}
s1=s
print(id(s))
print(id(s1))

1763570093640
1763570093640

In [29]:
s={10,20,30}
s1=s.copy()
print(id(s))
print(id(s1))

1763570093416
1763570091624

In [ ]:
Mathematical Operation On Set:

In [ ]:
+ Operator is not allowed in set
* Operator is also not allowed in set

In [4]:
s1={10,20,30}
s2={40,50,60}
s3=s1*3
print(s3)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [5]:
s1={10,20,30}
s2={40,50,60}
s3=s1+s2
print(s3)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
1.Union(x,y):Returns all elements present in x & y
2.Intersection():The Common elements in between x & y
3.Difference():The element present in x but not in y
4.Symmetric Difference():The elements present either in x or y but not in both

In [8]:
#1.Union(x,y):Returns all elements present in x & y
x={10,20,30,40}
y={30,40,50,60}
print(x.union(y))
print(x|y)

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

In [ ]:
2.Intersection():The Common elements in between x & y

In [9]:
x={10,20,30,40}
y={30,40,50,60}
print(x.intersection(y))
print(x&y)

{40, 30}
{40, 30}

In [ ]:
3.Difference():The element present in x but not in y

In [10]:
x={10,20,30,40}
y={30,40,50,60}
print(x.difference(y))
print(x-y)

{10, 20}
{10, 20}

In [ ]:
4.Symmetric Difference():The elements present either in x or y but not in both

In [12]:
x={10,20,30,40}
y={30,40,50,60}
print(x.symmetric_difference(y))
print(x^y)

{10, 50, 20, 60}
{10, 50, 20, 60}

In [ ]:
Membership Operators In Set:

In [15]:
x={10,20,30,40}
print(10 in x)
print(50 in x)
print(50 not in x)

True
False
True

In [22]:
s1={ 10,20,30}
s2={ 10,20,30}
print(s1 is s2)
print(s1 == s2)

False
True

In [18]:
s1=(10,20,30)   #Tuple
s2=(10,20,30)   #Tuple
print(id(s1))
print(id(s2))
print(s1 is s2)

2681248385920
2681248431424
False

In [ ]:
Comprehension In Set:
List[]----Applicable
Tuple()---Not Applicable
set{}-----Applicable

In [23]:
s= {x*x for x in range(1,6)}
print(type(s))
print(s)

<class 'set'>
{1, 4, 9, 16, 25}

In [24]:
s= {2**x for x in range(1,6)}
print(type(s))
print(s)

<class 'set'>
{32, 2, 4, 8, 16}

In [ ]:
Indexing & Slicing:
As the order in set is important so indexing & slicing isn't applicable

In [ ]:
#Q:WAP to delete duplicates present in a set.

In [32]:
l=eval(input('Enter  list of Values:'))
s=set(l)
print(s)

Enter  list of Values:40,30,40,10,30,20,10
{40, 10, 20, 30}

In [31]:
l=eval(input('Enter  list of Values:'))
l1=[]
for x in l:
    if x not in l1:
        l1.append(x)
print(l1)

Enter  list of Values:40,30,40,10,30,20,10
[40, 30, 10, 20]

In [ ]:
#Q:WAP to delete different vowels in a word.

In [36]:
w=input('Enter any word to search for vowels:')
s=set(w)
v={'a','e','i','o','u'}
results=sorted(s.intersection(v))
print(results)

Enter any word to search for vowels:i love my india
['a', 'e', 'i', 'o']

In [ ]:
Concept OF Dictionary:
    
A Group of objects key-value pair is called as dictionary.

Properties:
1.Duplicate Keys aren't allowed but duplicate values can be.
2.Order isn't applicable,all the element will be inserted on the basis of their hashing values.
3.Slicing & Indexing aren't applicable to a dictionary{}.
4.Heterogeneous objects are allowed.
5.Dictionary{} is mutable in nature.
6.Dictionary is growable in nature.
7.If we add duplicate keys ,then old keys will be REPLACED with the new one.

In [4]:
#How to create an empty dictionary:

d1={}
d2=dict()         #If The values are known to us
print(type(d1))
print(type(d2))

<class 'dict'>
<class 'dict'>

In [ ]:
Q:How to add key values?
A:d[key]=value ---The provided item(key-value) will be added to the dictionary{}.

In [2]:
d={}
d[100]='Durga'
d[200]='Shiva'
d[300]='Hari'
print(d)

{100: 'Durga', 200: 'Shiva', 300: 'Hari'}

In [5]:
d={}
d[100]='Durga'
d[200]='Shiva'
d[300]='Hari'
d[100]='Pavan'   #Durga is replaced with Pavan
print(d)

{100: 'Pavan', 200: 'Shiva', 300: 'Hari'}

In [6]:
d={100:'Durga',200:'Shiva',300:'Pavan'}  # If Values are known to us.
print(d)

{100: 'Durga', 200: 'Shiva', 300: 'Pavan'}

In [ ]:
#Q How to Access the data from a dictionary?
A:By using key we can access the corresponding values

In [7]:
d={100:'Durga',200:'Shiva',300:'Pavan'}
print(d[100])
print(d[200])
print(d[300])

Durga
Shiva
Pavan

In [13]:
d={100:'Durga',200:'Shiva',300:'Pavan',400:'Ravi'}
key=int(input('Enter key to Find The Corresponding Values:'))
if key in d:
    print(d[key])
else:
    print('The Specified Key Is Not Available')

Enter key to Find The Corresponding Values:500
The Specified Key Is Not Available

In [ ]:
#Q WAP to enter the name and marks in a dictionary and display information.

In [1]:
d={}
while True:
    name=input('Enter The Name Of The Student:')
    marks=int(input('Enter The Marks Of The Student'))
    d[name]=marks
    print('The Student Record Inserted Successfully')
    option=input('Do You Wanna Insert 1 more sudent record[YES|NO]:')
    while True:
        if option.lower() =='no':
            option = 'no'
            break
        elif option.lower() =='yes':
            option = 'yes'
            break
        else:
            option=input('Your Entered Option Is Invalid , Please Enter a valid Option [YES|NO]:')
    if option == 'no':
        break
print(d)

Enter The Name Of The Student:satya
Enter The Marks Of The Student90
The Student Record Inserted Successfully
Do You Wanna Insert 1 more sudent record[YES|NO]:yes
Enter The Name Of The Student:mona
Enter The Marks Of The Student80
The Student Record Inserted Successfully
Do You Wanna Insert 1 more sudent record[YES|NO]:no
{'satya': 90, 'mona': 80}

In [2]:
#Simplified Apporach:NO:1

d={}
while True:
    name=input('Enter The Name Of The Student:')
    marks=int(input('Enter The Marks Of The Student'))
    d[name]=marks
    print('The Student Record Inserted Successfully')
    option=input('Do You Wanna Insert 1 more sudent record[YES|NO]:')
    while True:
        if option.lower() in ['yes','no']:
            break
        else:
            option=input('Your Entered Option Is Invalid , Please Enter a valid Option [YES|NO]:')
    if option.lower() == 'no':
        break
print(d)

Enter The Name Of The Student:Satya
Enter The Marks Of The Student120
The Student Record Inserted Successfully
Do You Wanna Insert 1 more sudent record[YES|NO]:yes
Enter The Name Of The Student:mona
Enter The Marks Of The Student130
The Student Record Inserted Successfully
Do You Wanna Insert 1 more sudent record[YES|NO]:asas
Your Entered Option Is Invalid , Please Enter a valid Option [YES|NO]:durga
Your Entered Option Is Invalid , Please Enter a valid Option [YES|NO]:yes
Enter The Name Of The Student:durga
Enter The Marks Of The Student150
The Student Record Inserted Successfully
Do You Wanna Insert 1 more sudent record[YES|NO]:no
{'Satya': 120, 'mona': 130, 'durga': 150}

In [1]:
# More Simplified Apporach:NO:2

d={}
while True:
    name=input('Enter The Name Of The Student:')
    marks=int(input('Enter The Marks Of The Student'))
    d[name]=marks
    print('The Student Record Inserted Successfully')
    option=input('Do You Wanna Insert 1 more sudent record[YES|NO]:')
    while option.lower() not in ['yes','no']:
        option=input('Your Entered Option Is Invalid , Please Enter a valid Option [YES|NO]:')
    if option.lower() == 'no':
        break
print(d)

Enter The Name Of The Student:satya
Enter The Marks Of The Student90
The Student Record Inserted Successfully
Do You Wanna Insert 1 more sudent record[YES|NO]:yes
Enter The Name Of The Student:durga
Enter The Marks Of The Student30
The Student Record Inserted Successfully
Do You Wanna Insert 1 more sudent record[YES|NO]:yes
Enter The Name Of The Student:ravi
Enter The Marks Of The Student60
The Student Record Inserted Successfully
Do You Wanna Insert 1 more sudent record[YES|NO]:no
{'satya': 90, 'durga': 30, 'ravi': 60}

In [3]:
# More Simplified print Apporach:NO:3

d={}
while True:
    name=input('Enter The Name Of The Student:')
    marks=int(input('Enter The Marks Of The Student'))
    d[name]=marks
    print('The Student Record Inserted Successfully')
    option=input('Do You Wanna Insert 1 more sudent record[YES|NO]:')
    while option.lower() not in ['yes','no']:
        option=input('Your Entered Option Is Invalid , Please Enter a valid Option [YES|NO]:')
    if option.lower() == 'no':
        break
print('Name\t\Marks')
print('#'*20)
for x in d:
    print ('{}\t\t{}'.format(x,d[x]))
print('#'*20)

Enter The Name Of The Student:satya
Enter The Marks Of The Student95
The Student Record Inserted Successfully
Do You Wanna Insert 1 more sudent record[YES|NO]:yes
Enter The Name Of The Student:ravi
Enter The Marks Of The Student99
The Student Record Inserted Successfully
Do You Wanna Insert 1 more sudent record[YES|NO]:durga
Your Entered Option Is Invalid , Please Enter a valid Option [YES|NO]:yes
Enter The Name Of The Student:durge
Enter The Marks Of The Student80
The Student Record Inserted Successfully
Do You Wanna Insert 1 more sudent record[YES|NO]:yes
Enter The Name Of The Student:pavan
Enter The Marks Of The Student63
The Student Record Inserted Successfully
Do You Wanna Insert 1 more sudent record[YES|NO]:no
Name	\Marks
####################
satya		95
ravi		99
durge		80
pavan		63
####################

In [4]:
# Incase to enter only 5 students?

d={}
i=1
while i<=5:
    name=input('Enter The Name Of The Student:')
    marks=int(input('Enter The Marks Of The Student'))
    d[name]=marks
    print('The Student Record Inserted Successfully')
    i=i+1

print('Name\t\Marks')
print('#'*20)
for x in d:
    print ('{}\t\t{}'.format(x,d[x]))
print('#'*20)

Enter The Name Of The Student:satya
Enter The Marks Of The Student98
The Student Record Inserted Successfully
Enter The Name Of The Student:durga
Enter The Marks Of The Student65
The Student Record Inserted Successfully
Enter The Name Of The Student:ravi
Enter The Marks Of The Student45
The Student Record Inserted Successfully
Enter The Name Of The Student:pavan
Enter The Marks Of The Student78
The Student Record Inserted Successfully
Enter The Name Of The Student:mona
Enter The Marks Of The Student67
The Student Record Inserted Successfully
Name	\Marks
####################
satya		98
durga		65
ravi		45
pavan		78
mona		67
####################

In [ ]:
1.Updating a dictionary{}

d[key]=value
if the specified item (key-value)  is available ,then that item (key-value) will be added .
if the specified item (key-value)  is not  available ,then that item (key-value) will be added replaced by a new value.

In [5]:
d={100:'Durga',200:'Ravi',300:'Shiva'}
d[400]='Pavan'    #Here Pavan has been added to the dictionary
print(d)
d[100]='Satya'    #Here Satya has replaced 100:Durga 
print(d)

{100: 'Durga', 200: 'Ravi', 300: 'Shiva', 400: 'Pavan'}
{100: 'Satya', 200: 'Ravi', 300: 'Shiva', 400: 'Pavan'}

In [ ]:
2.Deleting Elements 

del d[key]

If the specified key is available then ,the total item(key-value) will be deleted.
Otherwise "Key-Error"

In [7]:
d={100:'Durga',200:'Ravi',300:'Shiva'}
del d[100]
del d[300]
print(d)

{200: 'Ravi'}

In [8]:
d={100:'Durga',200:'Ravi',300:'Shiva'}
del d[400]  # The key 400 is not available
print(d)

KeyError: 400

In [10]:
# Membership Operator is used to avoid the "KeyError: 400"

d={100:'Durga',200:'Ravi',300:'Shiva'}
if 400 in d:
    del d[400]
print(d)

{100: 'Durga', 200: 'Ravi', 300: 'Shiva'}

In [ ]:
3.Clear()
This will Clear all the Items and returns an empty dictionary.

In [14]:
d={100:'Durga',200:'Ravi',300:'Shiva'}
d.clear()
print(d)

{}

In [ ]:
Important Functions & Methods in Dictionary:

1.Tuple of Tuple objects are ---->Valid
2.list of list objects are ------->Valid
3.set of list objects are -------->Invalid ,because list objects are unhashabel
4.set of tuple objects are -------->Valid

In [17]:
d=dict([(100,'durga'),(200,'shiva'),(300,'Ravi')])
print(d)

{100: 'durga', 200: 'shiva', 300: 'Ravi'}

In [21]:
d=dict(((100,'durga'),(200,'shiva'),(300,'Ravi')))
print(d)

{100: 'durga', 200: 'shiva', 300: 'Ravi'}

In [22]:
d=dict([[100,'durga'],[200,'shiva'],[300,'Ravi']])
print(d)

{100: 'durga', 200: 'shiva', 300: 'Ravi'}

In [23]:
d=dict({[100,'durga'],[200,'shiva'],[300,'Ravi']})  # This is set of list objects,which is not hasable
print(d)

TypeError: unhashable type: 'list'

In [ ]:
4.len()
This returns the number of items(Key-Value) in the dictionary.

In [76]:
d={100:'Durga',200:'Ravi',300:'Shiva'}

print(len(d))

3

In [ ]:
5.get(key):
    
This returns the corresponding value ;if the value isn't availble returns 'none'

d.[key]--->'Key Error if the key is not present'
d.get(key)--->'none' if the key is not present
d.get(key,default value)--->Returns default value if the key is not present in the dictionary

In [29]:
d={100:'Durga',200:'Ravi',300:'Shiva'}

print(d.get(400))
print(d.get(200))

None
Ravi

In [30]:
d={100:'Durga',200:'Ravi',300:'Shiva'}

print(d.get(200,'Guest'))
print(d.get(400,'Guest'))

Ravi
Guest

In [ ]:
6.pop()

This removes items(key-value) from associated with specified key-value and returns corresponding values.
In case the specified key isn't available ,it returns key error.
pop()---Always expects some arguments.

In [32]:
d={100:'Durga',200:'Ravi',300:'Shiva'}
print(d.pop(200))
print(d.pop(400))  #KeyError: 400
print(d)

Ravi

KeyError: 400

In [ ]:
6.popitem()

d.popitem()--This removes an arbitery item from the dict{} and returns it in the form a tuple.

in case all the items are removed it returns "KeyError: 'popitem(): dictionary is empty'"

In [34]:
d={100:'Durga',200:'Ravi',300:'Shiva'}
print(d.popitem())
print(d.popitem())
print(d.popitem())
print(d.popitem())
print(d)

(300, 'Shiva')
(200, 'Ravi')
(100, 'Durga')

KeyError: 'popitem(): dictionary is empty'

In [ ]:
Difference in Between pop() and popitem()

pop()--->Key is required here 
popitem()--->It removes arbitary values

In [ ]:
#Q WAP to print the

In [39]:
i=0
d={}
while i < 26:
    d[chr(65+i)]=100+10*i
    i=i+1
while len(d) !=0:
    print('Processing item:', d.popitem())
print(d)

Processing item: ('Z', 350)
Processing item: ('Y', 340)
Processing item: ('X', 330)
Processing item: ('W', 320)
Processing item: ('V', 310)
Processing item: ('U', 300)
Processing item: ('T', 290)
Processing item: ('S', 280)
Processing item: ('R', 270)
Processing item: ('Q', 260)
Processing item: ('P', 250)
Processing item: ('O', 240)
Processing item: ('N', 230)
Processing item: ('M', 220)
Processing item: ('L', 210)
Processing item: ('K', 200)
Processing item: ('J', 190)
Processing item: ('I', 180)
Processing item: ('H', 170)
Processing item: ('G', 160)
Processing item: ('F', 150)
Processing item: ('E', 140)
Processing item: ('D', 130)
Processing item: ('C', 120)
Processing item: ('B', 110)
Processing item: ('A', 100)
{}

In [ ]:
1.d.keys()

In [41]:
i=0
d={}
while i < 26:
    d[chr(65+i)]=100+10*i
    i=i+1
    
k=d.keys()
print(type(k))
print(k)

<class 'dict_keys'>
dict_keys(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'])

In [45]:
i=0
d={}
while i < 26:
    d[chr(65+i)]=100+10*i
    i=i+1
    
for k1 in d.keys():
    print(k1)

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [ ]:
2.d.values()

In [46]:
i=0
d={}
while i < 26:
    d[chr(65+i)]=100+10*i
    i=i+1
    
print(d.values())

dict_values([100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300, 310, 320, 330, 340, 350])

In [47]:
i=0
d={}
while i < 26:
    d[chr(65+i)]=100+10*i
    i=i+1
    
for val in d.values():
    print(val)

100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350

In [49]:
d={100:'Durga',200:'Durga',300:'Durga'}
for val in d.values():
    print(val)

Durga
Durga
Durga

In [ ]:
d.items()----Returs Key Value Pair

In [51]:
d={100:'Durga',200:'Ravi',300:'Satya'}
i=d.items()
print(type(i))
print(i)

<class 'dict_items'>
dict_items([(100, 'Durga'), (200, 'Ravi'), (300, 'Satya')])

In [52]:
d={100:'Durga',200:'Ravi',300:'Satya'}
for x in d.items():
    print(x)

(100, 'Durga')
(200, 'Ravi')
(300, 'Satya')

In [54]:
d={100:'Durga',200:'Ravi',300:'Satya'}
for k,v in d.items():
    print('{}:{}'.format(k,v))

100:Durga
200:Ravi
300:Satya

In [56]:
d={100:'Durga',200:'Ravi',300:'Satya'}
# Both Key Values:
for k,v in d.items():
    print('{}:{}'.format(k,v))
#Only Keys:
for k in d.keys():
    print(k)
#Only Values:
for v in d.values():
    print(v)

100:Durga
200:Ravi
300:Satya
100
200
300
Durga
Ravi
Satya

In [ ]:
4 d.setdefault(k,v):
    
If the specified key-value is available ,it will return corresponding key-values.

If not availble the provided key -values will be added to the dictionary.

In [ ]:
5.d.update()

In [58]:
d1={100:'Sunny',200:'Ravi',300:'Shiva'}
d2={400:'Sunny',500:'Bunny',600:'Chinny'}
d1.update(d2)
print(d1)
print(d2)

{100: 'Sunny', 200: 'Ravi', 300: 'Shiva', 400: 'Sunny', 500: 'Bunny', 600: 'Chinny'}
{400: 'Sunny', 500: 'Bunny', 600: 'Chinny'}

In [ ]:
6.d.copy()

In [60]:
d1={100:'Sunny',200:'Ravi',300:'Shiva'}
d2={400:'Sunny',500:'Bunny',600:'Chinny'}
d1.copy()
print(id(d1))
print(id(d2))
print(d1 is d2)

1804393947968
1804393947904
False

In [ ]:
# WAP to take an input of a dictioanry and print the sum of values:

In [66]:
d=eval(input('Enter the Dictionary:'))   #
print('The sum:',sum(d.values()))

Enter the Dictionary:'A':100,'B':200,'C':300

SyntaxError: invalid syntax (<string>, line 1)

In [68]:
# WAP TO FIND THE NUMBER OF OCCURENCES OF EACH VOWEL IN A GIVEN STRING:


s=input('Enter any String:')
vowels={'a','e','i','o','u'}
d={}
for ch in s:
    if ch in vowels:
        d[ch]=d.get(ch,0)+1
        
for k,v in sorted(d.items()):
    print('{} occures {} times'.format(k,v))

Enter any String:i love my india
a occures 1 times
e occures 1 times
i occures 3 times
o occures 1 times

In [69]:
#Q:WAP TO print occurence of each letter present in a given string.

s=input('Enter Any Word:')
d={}
for ch in s:
    if ch in d:
        d[ch]=d[ch]+1
    else:
        d[ch]=1
print(d)

Enter Any Word:missisippi
{'m': 1, 'i': 4, 's': 3, 'p': 2}

In [73]:
s=input('Enter Any Word:')
d={}
for ch in s:
    d[ch]= d.get(ch,0)+1
print(d)

Enter Any Word:missisippi
{'m': 1, 'i': 4, 's': 3, 'p': 2}

In [74]:

s=input('Enter Any Word:')
d={}
for ch in s:
    d[ch]= d.get(ch,0)+1
    
for k,v in d.items():
    print('{} occures {} times'.format(k,v))

Enter Any Word:missisippi
m occures 1 times
i occures 4 times
s occures 3 times
p occures 2 times

In [75]:

s=input('Enter Any Word:')
d={}
for ch in s:
    d[ch]= d.get(ch,0)+1
    
for k,v in sorted(d.items()):
    print('{} occures {} times'.format(k,v))

Enter Any Word:missisippi
i occures 4 times
m occures 1 times
p occures 2 times
s occures 3 times

In [ ]:
# WAP to accept student input and marks from the keyboard and with that data create a dictionary:
 Also display student marks by taking student name as input

In [ ]:
n=int(input('Enter Number Of Students:'))
d={}
for i in range(n):
    name=input('Enter Student Name:')
    marks=int(input('Enter Student Marks:'))
    d[name]=marks
print('All Students Data Inserted')
while True:
    name=input('Enter Student Name To Get Marks:')
    if name in d:
        print('The Marks Of {}:{}'.format(name,d.get(name)))
    else:
        print('student not found')
    option=input('Do you want to find another student marks[YES|NO] :')
    while option.lower() not in ['YES','NO','y','n']:
        option = input('Invalid Option Please Choose Valid Option [YES|NO]')
    if option.lower() in {'no','n'} :
        break
print('Thanks For Using our App')

Enter Number Of Students:2
Enter Student Name:sunny
Enter Student Marks:100
Enter Student Name:bunny
Enter Student Marks:200
All Students Data Inserted
Enter Student Name To Get Marks:sunny
The Marks Of sunny:100
Do you want to find another student marks[YES|NO] :bunny
Invalid Option Please Choose Valid Option [YES|NO]yes

In [ ]:
Comprehension In Dictionary:Applicable

In [9]:
# WAP to find the sauare of given numbers.
# d={key:value for x in range(1,6)}


d={x:x*x for x in range(1,6)}
print(d)
print(type(d))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
<class 'dict'>

In [10]:
d={x:2*x for x in range(1,6)}
print(d)
print(type(d))

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}
<class 'dict'>

In [11]:
# WAP to print alphabts according to their respective numbers.

alphabets={x:chr(64+x) for x in range(1,27)}
print(alphabets)

{1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E', 6: 'F', 7: 'G', 8: 'H', 9: 'I', 10: 'J', 11: 'K', 12: 'L', 13: 'M', 14: 'N', 15: 'O', 16: 'P', 17: 'Q', 18: 'R', 19: 'S', 20: 'T', 21: 'U', 22: 'V', 23: 'W', 24: 'X', 25: 'Y', 26: 'Z'}

In [ ]:
Merging Of Collections:
    
+ is applicable for list.

In [13]:
l1=[10,20,30]    # + is Applicable for list
l2=[40,50,60]
l3=l1+l2
print(l3)

[10, 20, 30, 40, 50, 60]

In [14]:
l1=(10,20,30)      #+ operator is applicable for tuple as well.
l2=(40,50,60)
l3=l1+l2
print(l3)

(10, 20, 30, 40, 50, 60)

In [16]:
l1=[10,20,30]
l2=[40,50,60]
l3=[*l1 ,*l2]
print(l3)

[10, 20, 30, 40, 50, 60]

In [20]:
t1=(10,20,30)
t2=(40,50,60)
t3=(*t1,*t2)
print(t3)

(10, 20, 30, 40, 50, 60)

In [21]:
s1={10,20,30}       
s2={40,50,60}
s3=s1+s2
print(s3)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [23]:
s1={10,20,30}       
s2={40,50,60}
s3={*s1,*s2}
print(s3)

{50, 20, 40, 10, 60, 30}

In [25]:
s1={10,20,30}       
s2={40,50,60}
s3={'Apple','Ball','Cat'}
s4={*s1,*s2,*s3}
print(s4)

{40, 10, 50, 20, 'Ball', 'Cat', 60, 30, 'Apple'}

In [26]:
s1={10,20,30}   #Set       
l2=[40,50,60]   #List
s3={*s1,*l2}
print(s3)

{40, 10, 50, 20, 60, 30}

In [27]:
s1={10,20,30}   #set     
t2=(40,50,60)   #tuple
s3={*s1,*t2}
print(s3)

{40, 10, 50, 20, 60, 30}

In [29]:
s1={10,20,30}               #Set
s2=(40,50,60)               #Tuple
s3=['Apple','Ball','Cat']   #list

l=(*s1,*s2,*s3)
print(l)

(10, 20, 30, 40, 50, 60, 'Apple', 'Ball', 'Cat')

In [31]:
d1={100:'A',200:'B'}
d2={300:'C',400:'D'}
d3={500:'E',600:'F'}
result={*d1,*d2,*d3}    # * will print only key .
print(result)

{400, 100, 500, 200, 600, 300}

In [34]:
d1={100:'A',200:'B'}
d2={300:'C',400:'D'}
d3={500:'E',600:'F'}
result={**d1,**d2,**d3}  #** Will print key-value pairs
print(result)

{100: 'A', 200: 'B', 300: 'C', 400: 'D', 500: 'E', 600: 'F'}

In [35]:
d1={100:'A',200:'B'}
d2={300:'C',400:'D'}
d3={500:'E',600:'F'}
result={*d1.values(),*d2.values(),*d3.values()}  #** Will print key-value pairs
print(result)

{'E', 'A', 'D', 'F', 'C', 'B'}

In [ ]:
What is the limitations of + operators?

Ans:Applicable to list & Tuple only.
    Both arguments must be same .

In [37]:
# Nested Collections:

l1=[(10,20,30),(40,50,60)]   # List Of Tuples
print(l1[0][1])
print(l1[1][2])

20
60

In [15]:
d = {
    'Cars':('Innova','Honda','BMW'),
    'Mobiles':('Samsung','Nokia','Apple')
    }
    
# To Display The all Cars:

print(d['Cars'])

  
# To Display The 2nd Car:
    
print(d['Cars'][1])
print(d.get('Cars')[1])

# To display All Mobiles:

print(d['Mobiles'])

for mobile in d['Mobiles']:
    print(mobile)

('Innova', 'Honda', 'BMW')
Honda
Honda
('Samsung', 'Nokia', 'Apple')
Samsung
Nokia
Apple

In [ ]:
2 Restrivtions:
   1> Every Element inside a set should be Hashable.
    Hence we can't take list object as element in set.
    
    2>For every key inside the dictionary should be hashable.
      For the keys we CAN NOT take list object.